body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 13em;
    left: 13em;
    width: 15em;
    height: 15em;
    background-color: orangered;
    border-radius: 50%;
    box-shadow: 0 0 5em orangered;
    z-index: 1;
}
.earth,.moon,.mercury,.venus,.mars,.jupitor,.saturn,.uranus,.neptone{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    z-index: 2;
}
.mercury{
    top: 10em;
    left: 10em;
    width: 21em;
    height: 21em;
    animation: orbit 12s linear infinite;
}
.venus{
    top: 8em;
    left: 8em;
    width: 25em;
    height: 25em;
    animation: orbit 20s linear infinite;
}
.earth{
    top: 4em;
    left: 4em;
    width: 33em;
    height: 33em;
    animation: orbit 35s linear infinite;
}
.moon{
    top: 24px;
    right: 24px;
    width: 5em;
    height: 5em;
    animation: orbit 6s linear infinite;
}
.mars{
    top: -1em;
    left: -1em;
    width: 43em;
    height: 43em;
    animation: orbit 47s linear infinite;
}
.jupitor{
    top: -6em;
    left: -6em;
    width: 53em;
    height: 53em;
    animation: orbit 60s linear infinite;
}
.saturn{
    top: -11em;
    left: -11em;
    width: 63em;
    height: 63em;
    animation: orbit 85s linear infinite;
}
.uranus{
    top: -16em;
    left: -16em;
    width: 73em;
    height: 73em;
    animation: orbit 120s linear infinite;
}
.neptone{
    top: -21em;
    left: -21em;
    width: 83em;
    height: 83em;
    animation: orbit 200s linear infinite;
}
.earth::before,
.moon::before,
.mercury::before,
.venus::before,
.mars::before,
.jupitor::before,
.saturn::before,
.uranus::before,
.neptone::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.earth::before{
    top: 3.4em;
    right: 3.5em;
    width: 3em;
    height: 3em;
    background-image: linear-gradient(to right, rgb(196, 127, 77),green,rgb(57, 156, 156),rgb(57, 156, 156),rgb(196, 127, 77),green);
}
.moon::before{
    top: 0.5em;;
    right: -0.2em;
    width: 1.2em;
    height: 1.2em;
    background-image: linear-gradient(to right, silver, silver, #333,silver)
}
.mercury::before{
    top: 2.5em;
    right: 2em;
    width: 1.5em;
    height: 1.5em;
    background-image: linear-gradient(to right, rgb(65, 34, 65),silver,silver,silver, rgb(65, 34, 65));
}
.venus::before{
    top: 3.1em;
    right: 2.7em;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(255, 166, 0, 0.832);
    background-image: linear-gradient(to right, silver, rgba(132, 108, 62, 0.832),silver, rgba(132, 108, 62, 0.832))
}
.mars::before{
    top: 5.8em;
    right: 4.3em;
    width: 2.5em;
    height: 2.5em;
    background-color:rgba(160, 111, 65, 0.586);
}
.jupitor::before{
    top: 6.8em;
    right: 4em;
    width: 5.2em;
    height: 5.2em;
    background-color:brown;
    background-image: linear-gradient(to right, rgb(116, 116, 252), rgba(132, 108, 62, 0.832), rgba(132, 108, 62, 0.832), rgb(116, 116, 252), rgba(132, 108, 62, 0.832), rgb(116, 116, 252))
}
.saturn::before{
    top: 8.6em;
    right: 6em;
    width: 4.2em;
    height: 4.2em;
    background-image: linear-gradient(to right, rgba(132, 108, 62, 0.3), rgba(132, 108, 62, 0.832),rgba(132, 108, 62, 0.3), rgba(132, 108, 62, 0.832),rgba(132, 108, 62, 0.3))
}
.uranus::before{
    top: 7.8em;
    right: 9em;
    width: 4.8em;
    height: 4.8em;
    background-color: rgb(0, 0, 139);  
    background-image: linear-gradient(to right,silver, rgb(0, 0, 255),rgb(0, 0, 139), rgb(0, 0, 255),silver);
}
.neptone::before{
    top: 10.8em;
    right: 8em;
    width: 5em;
    height: 5em;
    background-color: rgb(0, 0, 255);
    background-image: linear-gradient(to right, rgb(0, 0, 255),rgba(132, 108, 62, 0.607), rgb(0, 0, 255))
}
@keyframes orbit{
    to{
        transform: rotate(360deg);
    }
}